:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes rainbow-shadow {
  0% { box-shadow: 0 0 20px 4px red; }
  16% { box-shadow: 0 0 20px 4px orange; }
  32% { box-shadow: 0 0 20px 4px yellow; }
  48% { box-shadow: 0 0 20px 4px green; }
  64% { box-shadow: 0 0 20px 4px skyblue; }
  80% { box-shadow: 0 0 20px 4px blue; }
  100% { box-shadow: 0 0 20px 4px purple; }
}

@keyframes popFlashWin {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
  10% {
    box-shadow: 0 0 300px 150px rgba(0, 255, 0, 0.64);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
}

@keyframes popFlashDraw {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
  10% {
    box-shadow: 0 0 300px 150px rgba(255, 230, 0, 0.64);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
}

@keyframes popFlashLose {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
  10% {
    box-shadow: 0 0 300px 150px rgba(255, 0, 0, 0.64);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 255, 0, 0);
  }
}